:root {
	--mar-left: 110px;
	--font: 1.6vw;
}

body {
	font-family: sans-serif;
	line-height: 1.5;
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

header {
	padding: 30px var(--mar-left) 40px;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	margin-bottom: 30px;
}

header h1 {
	margin-top: 0;
	color: #fff;
}

h1 {
	font-size: 38px;
	font-weight: 600;
	margin-bottom: 5px;
}

h2 {
	color: #555;
}


.h2 {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
}

.simple-todo {
	margin: 0 var(--mar-left);
}

label::first-letter {
	text-transform: uppercase;
	font-size: 16px;
	color: #000;
}

li {
	list-style-type: none;
	color: #555;
	font-size: 16px;
	margin-bottom: 10px;
}

.checkbox {
	display: inline-block;
}

label {
	display: inline-block;
	cursor: pointer;
}

button {
	margin: 0 10px;
	color: #fff;
	font-weight: 200;
	letter-spacing: 1px;
	padding: 13px 20px 13px;
	outline: 0;
	border: 2px solid #f6d365;
	cursor: pointer;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
}

button::after {
	content: "";
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	width: 100%;
	z-index: -1;
	position: absolute;
	height: 100%;
	top: 7px;
	left: 7px;
	transition: 0.2s;
}

button:hover::after {
	top: 0px;
	left: 0px;
}

#todo-input {
	border: 2px solid #f6d365;
	padding: 13px 20px 13px;
	outline: none;
	color: #555;
}

input::placeholder {
	color: #fdd4c8;
}

.line-through {
	text-decoration: line-through;
}

form {
	display: flex;
	justify-content: space-between;
	margin: 0;
	height: 50px;
}

input#todo-input, button {
	width: calc(100%/3 - 10px);
	margin: 0;
}

input, button {
	font-size: var(--font);
	white-space: nowrap;
}



[data-tooltip] {
	position: relative;
}

[data-tooltip]::after {
	content: attr(data-tooltip);
	position: absolute;
	left: 0;
	top: 10px;
	background: rgba(246, 211, 101, 0.9);
	color: #fff;
	padding: 0.5em;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	pointer-events: none;
	opacity: 0;
	transition: 1s;
	z-index: 1;
	white-space: nowrap;
}

[data-tooltip]:hover::after {
	opacity: 1;
	top: 2em;
}

.tip {
	display: none;
	font-size: 10px;
	margin-top: 40px;
	color: #999;
}


@media (max-width: 820px) {
	:root {
		--mar-left: 50px;
	}

	input#todo-input, button {
		font-size: var(--font);
		white-space: nowrap;
		padding: 20px 10px;
		width: calc(100%/3 - 10px);
		margin: 0;

	}

}

@media(max-width: 500px) {
	h1, h2, .h2 {
		font-size: 1.5em;
	}

	form {
		flex-wrap: wrap;
	}

	.h2 {
		font-size: 1em;
	}

	button, input#todo-input {
		width: 97%;
		margin: 0 0 20px 0;
		font-size: 16px;
		text-align: center;
	}

	.simple-todo {
		margin: 0 20px;
	}

	header {
		font-size: 0.7em;
		padding: 5px 20px;
		background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
		margin-bottom: 30px;
	}

	.tip {
		margin-top: 210px;
		display: block;
	}

	[data-tooltip]:hover::after {
		opacity: 0;
		top: 2em;

	}

	h1 {
		margin: 0;
	}
}

@media(min-width: 1200px) {
	:root {
		--font: 16px;
	}
}

